{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    {% endblock %}

{% block body %}
    <h1>hello</h1>
{% endblock %}