*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fontFamilyCore);
    font-size: 1.6rem;
    color: var(--fontColor);
    background: var(--body);
    min-height: 100vh;
}

h1,h2,h3,h4,h5{
    font-family: var(--fontFamilyTitle);
    color:var(--fontColor-dark);
    letter-spacing: 1rem;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: var(--fontColor);
}

ul{
    list-style: none;
}

/*.btn-primary{*/
/*    cursor: pointer;*/
/*    color: var(--secondary);*/
/*    background: var(--primary);*/
/*    font-size: 2rem;*/
/*    font-weight: 500;*/
/*    padding: 1rem;*/
/*    margin: 0rem 1rem;*/
/*    border-radius: 0.4rem;*/
/*    border: none;*/
/*    letter-spacing: 0.1rem;*/
/*}*/

.btn-primary{
    font-weight: 600;
    padding: 1.3rem;
    cursor: pointer;
    color: var(--secondary);
    background: var(--primary);
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    transition: 0.25s;
}

.btn-primary:hover,
.btn-primary:focus {
    border-color: var(--secondary);
    box-shadow: 0 0.5em 0.5em -0.4em var(--primary);
    transform: translateY(-0.25em);
}
/*margin-padding*/

.m-1{
    margin: 1rem;
}

.m-2{
    margin:2rem;
}

.p-1{
    padding: 1rem;
}

.p-2{
    padding:2rem;
}

/*flex*/

.d-flex{
    display: flex;
}

.row-nowrap{
    flex-flow: row nowrap;
}

.row-wrap{
    flex-flow: row wrap;
}

.flex-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.align-items-end{
    align-items: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}