.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    flex-direction: row;
    background: var(--primary-light);
    padding: 3.5rem;
    border-radius: 0.5rem;
    border: 3px solid var(--primary);
    margin-top: 2rem;
}
.btn-add{
    font-size: 1.5rem;
    padding: 0.3rem;
    margin: 0rem;
}

.add{
    justify-content: space-between;
}
.form-location{
    justify-content: space-around;
}
.form-details{
    justify-content: space-around;
}

