.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: start;
    column-gap: 1.5rem;
}

.date{
    display: flex;
    column-gap: 1.5rem;
}

.part1{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.search-container {
    display: flex;
    align-items: center;
    min-width: 100rem;
    flex-direction: row;
    justify-content: space-between;
    background: var(--primary-light);
    padding: 3.5rem;
    border-radius: 0.3rem;
    border: 2px solid var(--primary);
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
}

.info {
    color: var(--secondary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 3rem;
    padding-right: 3rem;
}

.date {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.separator {
    width: 3px;
    margin: 0rem 1.5rem;
    height: 11rem;
    border-right: 2px solid var(--primary);
}

.event-topbar {
    padding: 0rem 1rem;
    background: var(--secondary);
    border-radius: 4px;
    font-weight: bold;
}

.event-item {
    padding: 0rem 1rem;
}

span {
    display: inline-block;
    text-align: center;
}

/*###### tableau #######*/
.dark {
    background: var(--secondary-light);
}

.light {
    background: var(--primary-light);
}

th , td {
    text-align: center;
    padding: 0rem 0.5rem;
}