header{
    /*margin: 0rem 3rem;*/
    /*background: var(--primary);*/
    border-bottom: 3px solid var(--secondary);
    justify-content: space-between;
    margin-bottom: 3rem;
}

.log{
    margin-left: 2rem;
}

.logo{
    background: url("../img/eni_events.svg") center center;
    background-size: cover;
    height: 9rem;
    width: 9rem;
    transition: 0.5s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

h3{
    color: var(--secondary);
    transition: 0.5s ease-in-out;
}

h3:hover{
    scale: 1.1;
}