header {
    margin: 1rem 3.5rem;
    border-bottom: 3px solid var(--secondary);
    justify-content: space-between;
    font-size:6px;
}

.log {
    margin-left: 2rem;
}

.logo {
    background: url("../img/eni_events.svg") center center;
    background-size: cover;
    height: 9rem;
    width: 9rem;
    transition: 0.5s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

h3 {
    color: var(--secondary);
    transition: 0.5s ease-in-out;

}

h3:hover {
    scale: 1.1;
}

.admin {
    border: 2px solid var(--secondary);
    padding: 0.6rem;
}

.separator-header {
    width: 3px;
    height: 4rem;
    border-right: 2px solid var(--secondary);
}

.msgFlash {
    display: flex;
    justify-content: center;
}

.flash_error, .flash_success {
    padding: 1rem;
}

.flash_success {
    position: fixed;
    color: var(--succes);
    background: var(--succes-soft);
    border: 3px solid var(--succes);
}

.flash_error {
    position: fixed;
    color: var(--warning);
    background: var(--warning-soft);
    border: 3px solid var(--warning);
}



/* Styles pour le menu déroulant personnalisé */
.dropdown {
    position: relative;
    display: inline-block;
    border: 2px solid var(--secondary);
    padding: 0.6rem;
}

/*.dropdown-toggle {
    text-decoration: none;
    color: yellow;
    padding: 10px;
    cursor: pointer;
}*/

.dropdown-menu {
    position: absolute;
    top: 3.8rem;
    right: -2.2rem;
    display: none;
    background: var(--primary);
    border: 1px solid var(--secondary);
    min-width: 150px; /* Largeur du menu déroulant */
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 10px;
    font-size:16px ;
    text-decoration: none;
    color: var(--secondary);
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Style pour la flèche du menu déroulant */
.dropdown-toggle::after {
    content: "\25BC"; /* Flèche vers le bas pour indiquer un menu déroulant */
    display: none;
}
