.start-background{
    /*width: 100vw;*/
    min-height: 100vh;
    background: url("../img/background.jpg") center center;
    background-size: cover;

}

.logo{
    background: url("../img/eni_events.svg") center center;
    background-size: cover;
    height: 15rem;
    width: 17rem;
}

h1{
    margin-bottom: 5rem;
    color: var(--secondary);
}

.fa-arrow-right-to-bracket{
    color: var(--secondary);
    font-size:8rem;
    margin-right:6rem;
    margin-bottom: 15rem;
    transition: 0.5s ease-out;
}

.fa-arrow-right-to-bracket:hover{
    text-shadow: var(--text_shadow_soft);
    transform: scale(1.2);
}