.start-background {
    min-height: 100vh;
    background: url("../img/background.jpg") center center;
    background-size: 100% 100%;
}

body {
    margin: 0rem;
    padding: 0rem;
}

h1 {
    color: var(--primary);
    border-bottom: none;
    text-shadow: var(--text_shadow_soft);
}

.fa-arrow-right-to-bracket {
    color: var(--secondary);
    font-size: 8rem;
    transition: 0.5s ease-out;
}

.fa-arrow-right-to-bracket:hover {
    text-shadow: var(--text_shadow_soft);
    transform: scale(1.2);
}

.rightStart{
    margin-left: 6rem;
}

.logo{
    width: 20rem;
    height: 20rem;
    margin-bottom: 3rem;
}
.content{
    display: flex;
    justify-content: center;
}

.start {
    width: fit-content;
    background: var(--primary-light-40);
    padding: 3rem;
    border-radius: 4px;
    border: 2px solid var(--secondary-light);
}

small {
    color: var(--dark);
    font-size: 4rem;
    text-align: center;
}