.container {
	display: flex;
	justify-content: center;
}


.body-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sub-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.row {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.middle {
	justify-content: center;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.right button {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}
