body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #B2CFD1FF;
}

a{
    text-decoration: none;
}
h1 {
    font-size: 2.5rem;
    border-bottom: 3px solid #F79F1FFF;
    padding-bottom: 2rem;
    font-family: var(--fontFamilyTitle);
    color: #444444FF;
    letter-spacing: 1rem;
}
.btn-primary {
    font-weight: 600;
    padding: 1.3rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    color: #F79F1FFF;
    background: #006266FF;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    transition: 0.25s;
}