/*Responsive pour tablette pour la page _header.html.twig*/
@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
    }
    .logo {
        margin-bottom: 8px;

    }
    h1{
        font-size: 20px;
    }

}


/*Responsive pour tablette pour la page eventShowroom.html.twig.css*/
@media screen and (max-width: 768px) {

    h1 {
        color: #93c5fd;
        margin-top: 8px;
    }
    .form-container{
        padding: 1rem;
    }

    .search-container {
        flex-direction: column;
        margin:10px 10px;
        min-width: 50rem;
        padding: 20px;
    }

    .separator {
        width: 25rem;
        margin: 1.5rem 0rem;
        height: 2px;
        border-bottom: 2px solid var(--primary);
    }
    .part1{
        align-items: flex-start;
    }

    /*Responsive pour tablette pour la page eventShowroom.html.twig.css*/
    @media screen and (max-width: 768px){
        .form-row{
            flex-direction: column;
        }
    }
}

/* header smartphone */
@media screen and (max-width: 425px) {
	.m-1,
	.mr-1,
	.mr-1 + p,
       	.menu {
		display: none;
	}

	#smartphoneDisconnect {
		display: block;
	}

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

/* eventshow smartphone */
@media screen and (max-width: 425px) {
	.form-container {
		flex-direction: column;
	}

	.form-details {
		display: flex;
	}

	.form-location {
		display: flex;
	}

	label {
		font-weight: bold;
	}
}
