<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% apply inline_css(source ('@css/resetPassword.css')) %}
    <h1>Bonjour {{ username }} !</h1>
    <p>Pour reinitialiser votre mot de passe cliquer sur le lien ci-dessous</p>
    <a class="btn-primary" href="{{ url('new_password', {token: token}) }}">Changer mon mot de passe</a>
    {% endapply %}
</body>
</html>